name: Update Code

on:
  issue_comment:
    types: [ created, edited ]


permissions:
  contents: write
  pull-requests: write
  issues: write

jobs:
  update:
    name: Format code

    runs-on: ubuntu-latest

    if: ${{ contains(github.event.comment.body, 'update_code') }}
    steps:
      - name: Checkout
        uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # v3
        with:
          token: ${{ secrets.BOT_GITHUB_TOKEN }}

      - name: Checkout Pull Request
        run: gh pr checkout $PR_NUMBER
        env:
          PR_NUMBER: ${{ github.event.issue.number }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up JDK 11
        uses: actions/setup-java@b6e674f4b717d7b0ae3baee0fbe79f498905dfde # v1
        with:
          java-version: 11

      - name: Formatting
        uses: axel-op/googlejavaformat-action@v3
        with:
          args: "--replace"
          commit-message: "Google Java format"
